/* hides all scrolling, but keeps enabled.  */

* {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0 !important; /* Safari and Chrome */
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body{
  background-color: #C3AFA5;
  font-family: Verdana;
  color: #312E29;
}

/* logo  */

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.logo-container img {
  width: 100px;
  height: auto;
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 10px;
  left: 0;
  min-width: 50px;
  min-height: 50px;
  height: 100px;
  width: 100px;
}