button {
    color: #C64C85;
    background-color: transparent;
}

.outercontainer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imageportioncontainer {
    background-color: transparent;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.row {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: 1px; 
    border-color: #008F68;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    width: 70%;
}

.middlerow {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    /* //borderBottomWidth: 1; //make sure to delete these */
    border-color: #008F68;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.bottomrow {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    /* //borderBottomWidth: 1; //make sure to delete these */
    border-color: #008F68;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.row2 {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

h1 {
    background-color: transparent;
    /* display: flex; */
    color: #008F68;
    font-size: 40;
}

h2 {
    background-color: transparent;
    font-size: 15px;
}

h3 {
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: rgba(255, 255, 255, 0.85);
}

p {
    background-color: transparent;
}

.topimage {
    background-color: transparent;
    /* display: flex; */
    object-fit:contain;
    width: 400;
    height: 356;
    justify-content: center;
}

.bottomimage {
    background-color: transparent;
    object-fit:contain;
    width: 300;
    height: 267;
    justify-content: center;
}

.logoimage {
    background-color: transparent;
    object-fit:contain;
    width: 200px; 
    height: 178px;
    justify-content: center;
}

.buttonContainer {
    background-color: transparent;
    display: flex;
    background-color: #008F68;
    border-radius: 5;
    padding: 8;
    margin: 8;
}

.buttonContainertemp {
    background-color: transparent;
    display: flex;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 10px;
    padding: 2;
    margin: 2;
}

.selectedButton {
    /* Home */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15.5098px;

background: linear-gradient(99.05deg, #C824EC 0.07%, #DF308D 106.32%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;

}

.notSelectedButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12.5098px;

    color: #FFFFFF;
}

.orbTitle {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 31.6914px;
    line-height: 43px;
    /* or 137% */

    color: #FFFFFF;
}

button.invisibleButton {
    background:none; 
    border:none;
}