/* attempting to hide scroll to right...  */

.container {
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  width: 0;
}

.boxMatch {
  margin: 0%;
  text-align: center;
}

.boxMatch h1 {
  font-size: 600%;
  font-family: Impact;
  letter-spacing: 6.5px;
  color: #efefef;
  margin-bottom: 2%;
}

.boxMatch h2 {
  font-size: 130%;
  margin-top: 0%;
  padding-top: 0%;
  font-family: Verdana;
  color: #312E29;
}


.card {
  position: relative;
  width: 600px;
  padding: 10px;
  margin-top:15%;
  max-width: 85vw;
  height: 50vh;
  border-radius: 5px;
  background-size: cover;
  background-position: top;
  box-shadow: 15px 20px 10px #c4bbb2a0;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card > h3 {
  position: absolute;
  bottom: 10px;
  color: #191510; 
  font-family: Verdana;
  font-variant: all-petite-caps;
  background-color: #efefef;
  border-radius: 5px;
  padding: 1%;
}

.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
  overflow-x: hidden;
}

.matchingBack{
  background-color: #e0bda9;
  width: 25%;
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  border-radius: 20px; 
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 40px;
}

.matchingBack button{
    margin-bottom:10px;
    width:200px;
    height: 70px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #f1f7ff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.banner{
  width: 14%;
  padding-bottom: 10px;
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  background-color: #ecd6ca;
}