.main_card {
    background-color: antiquewhite;
    width: 99%;
    height: 99%;
}


.left_card {
    display:inline-block;
    width: 800px;
    height: 800px;
    background-color: rgb(43, 255, 0);
}
.right_card {
    display:inline-block;
    width: 800px;
    height: 800px;
    background-color: rgb(255, 85, 0);
}

.bottom_div {
    background-color: palevioletred;
}