/* .main_card {
    background-color: antiquewhite;
    width: 99%;
    height: 99%;
}


.left_card {
    display:inline-block;
    width: 800px;
    height: 800px;
    background-color: rgb(43, 255, 0);
}
.right_card {
    display:inline-block;
    width: 800px;
    height: 800px;
    background-color: rgb(255, 85, 0);
}

.bottom_div {
    background-color: palevioletred;
} */

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 400px;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-content h2 {
  margin-top: 20px;
}

.card-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
