/* this now works for navbar styling, before the code was overriden in homepage.css...
pretty annoying to debug, lol */

.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    } .container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    } .container li {
        float: left;
    } .container li a {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        color: #312E29;
}

.row {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: 1px; 
    justify-content: space-around;
    flex: 1;
    align-items: center;
    width: 70%;
}  
