
.bodyTOS{
  margin: 0;
  padding: 0;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ScrollingBox{
  max-height: 600px;
  max-width: 800px;
  padding: 60 30px;
  font-family: "Cursive";
}

.TOSText{
  padding: 0 20px;
  height: 300px;
  font-family: "Cursive";
  font-size: 18px;
  justify-content: center;
}

.TOSBody{
  max-width: 460px;
  padding: 0 20px;
  font-family: "Cursive";
  justify-content: center;
  
  
} 


