.bodyTOS {
  margin: 0;
  padding: 0;
  min-height: 600px;
  justify-content: center;
  display: flex;
}


.bodyTOS h1 {
  font-size: 600%;
  font-family: Impact;
  letter-spacing: 6.5px;
  color: #efefef;
}

.box {
  /* max-height: 600px; */
  max-width: 800px;
  padding: 60 30px;
  font-family: Verdana;
}

.anotherBox {
  font-size: 18px;
}

.terms {
  padding: 0 20px;
  font-family: Verdana;
  justify-content: center;
  padding-bottom: 5%;
} 