/* This .css file is only for global styles. */

* {
  color: white;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Impact;
  color: white;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
