/* This .css file is only for global styles. */

* {
  font-family: Verdana;
}

h1 {
  font-family: Impact;
}

h2 {
  font-family: Verdana;
}

h3 {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

p {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}